* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa
  }

h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
   
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  
  }
  
  h6 {
    font-size: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    color: #2c3e50;
}

header {
    background-color: #077911;
    color: white;
    padding: 2rem ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
  }

  .container {
    max-width: 1200px;
    margin: 1auto;
    padding: 0 1rem;
  }

  nav {
    background-color: #2aa512;
    padding: 0.5rem 0;
  }

  li {
    list-style: none;
  }
  
  nav > div > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }
  
  nav > div > ul > li {
    margin-left: 24px;
  }
  
  nav > div > ul > li > a {
    color: white;
    text-decoration: none;
  }

  nav > div > ul > li > a:hover {
    text-decoration: underline;
  }

  section {
    margin-bottom: 3rem;
    padding: 1rem 4rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


aside {
    background-color: #ace4bf;
    padding: 1rem;
    border-left: 4px solid #33ff0a;
    margin: 1rem 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 3;
}

ul {
    list-style-type: disc;
}